<p-table *ngIf="stats" [columns]="cols" [value]="stats" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <th>
                    {{col.header}}
                </th>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <a>{{rowData[col.field]}}</a>
            </td>
        </tr>
    </ng-template>
</p-table>
