    <div class="flex flex-row flex-wrap justify-content-between align-items-center p-3" *ngIf="details">
            
            <div class="pb-3 flex flex-row justify-content-between align-items-center w-full">
                <div class="flex">
                    <h1 class="p-component text-4xl text-color">{{details.name_display_first_last}}</h1>
                </div>
                <div class="flex">
                    <img *ngIf="imgSrc" [src]="imgSrc" alt="Team logo" style="height: 80px">
                </div>
            </div>

            <div class="w-full">
                <p-accordion [multiple]="true">
                    <p-accordionTab header="Player Details" [selected]="false">
                        <ul class="line-height-3">
                            <li class="text-color">Position: {{details.primary_position_txt}}</li>
                            <li class="text-color">Team: {{details.team_name}}</li>
                            <li class="text-color">Bats: {{details.bats}}</li>
                            <li class="text-color">Throws: {{details.throws}}</li>
                            <li class="text-color">College: {{details.college}}</li>
                        </ul>
                    </p-accordionTab>
                    <p-accordionTab header="Career Stats" [selected]="true">
                        <app-playerstats *ngIf="!isHitter" [cols]="pitchingcols" [stats]="stats">

                        </app-playerstats>

                        <app-playerstats *ngIf="isHitter" [cols]="hittingcols" [stats]="stats">

                        </app-playerstats>
                    </p-accordionTab>
                </p-accordion>

            </div>
    </div>